# Lab 12: Data Analysis with Pandas
## Bicycle Trip Data From Seattle's Cycle Share System
#### By: Joseph Zabaleta 
##### Date: 20200527
---

### Importing Dependencies, Creating DataFrames with Panda from local Files:

In [2]:
import pandas as pd

In [12]:
df_trips = pd.read_csv('./data/Cycle_Share_Data/trip.csv')
df_trips.head(3)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0

In [4]:
df_weather = pd.read_csv('./data/Cycle_Share_Data/weather.csv')
df_weather.head(3)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain

In [5]:
df_station = pd.read_csv('./data/Cycle_Share_Data/station.csv')
df_station.head(3)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN

---
### 1. What is the average trip duration for a borrowed bicycle?

In [13]:
average_duration = int(df_trips['tripduration'].mean())
average_duration

1178

---
### 2. What’s the most common age of a bicycle-sharer?

In [15]:
def problem_2():
    mc_year = df_trips['birthyear'].mode()
    mc_age = 2020 - mc_year
    return mc_age
common_age = int(problem_2()[0])
common_age

33

---
### 3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [38]:
df_weather['Month'] = df_weather.apply(lambda mo: mo['Date'].split('/')[0], axis = 1)
df_weather['Month']

SyntaxError: invalid syntax (<ipython-input-38-b27d65d062f0>, line 1)

---
### 4. What’s the average number of bikes at a given bike station?

In [24]:
filter_true = df_station['decommission_date'].isna()
average_bike = int(df_station[filter_true]['current_dockcount'].mean())
average_bike

17

---
### 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [37]:
filter_false = df_station['modification_date'].notna()
df_modified = df_station[filter_false]
install_dockcount = df_modified['install_dockcount']
current_dockcount = df_modified['current_dockcount']

install_greater_than_current = install_dockcount > current_dockcount # length 17
install_less_than_current = install_dockcount < current_dockcount # length 17

change_a = len(df_modified[install_greater_than_current]) # length 10
change_b = len(df_modified[install_less_than_current]) # length 7

The above code might not be very clear, but to find out if when a bike station is modified that it gains or loses bikes we count the installed stations, and current stations. We filter the modifcation date based on original dockcount and current dockcount after modification. change_b represents original installed, change_a shows current dockcount, 10 - 7 = 3. That out of the modified stations, there were 3 more stations that gained bikes than stations that broke even or loss bikes.

---
## Tests

In [23]:
def test():
    def assert_equal(actual, expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    
    assert_equal(average_duration, 1178)
    assert_equal(common_age, 33)
    assert_equal(average_bike, 17)

    print("Success!!!")
test()

Success!!!

---
## 6. Come up with 3 more questions that can be answered with this data set.

### 6.1 Most common destination for members?

In [8]:
df_trips['to_station_name'].mode()

0    2nd Ave & Pine St
dtype: object

---
### 6.2 Top 5 most common destination for members?

In [9]:
df_trips['to_station_name'].value_counts().head(5)

2nd Ave & Pine St                  13784
Pier 69 / Alaskan Way & Clay St    13736
Westlake Ave & 6th Ave             10961
3rd Ave & Broad St                 10737
PATH / 9th Ave & Westlake Ave      10632
Name: to_station_name, dtype: int64

---
### 6.3 The percentage of male and female riders

In [10]:
is_male = df_trips['gender'] == 'Male'
is_female = df_trips['gender'] == 'Female'
male_data = df_trips[is_male]
female_data = df_trips[is_female]

total_rows = df_trips.shape[0]
male_rows = male_data.shape[0]
female_rows = male_data.shape[0]

male_percentage = male_rows / total_rows
female_percentage = female_rows / total_rows

output = f"There are a total of {total_rows} records with {male_percentage} males and {female_percentage} females"