# Lab 12: Data Analysis with Pandas
## Video Game Sales Data from more than 16,500 games
#### By: Joseph Zabaleta 
##### Date: 20200527

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/Video_Game_Data/vgsales.csv')
df.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

1. Which Comany is the most common video game publisher?

In [11]:
df['Publisher'].mode()[0]

'Electronic Arts'

2. What's the most common platform?

In [10]:
df['Platform'].mode()[0]

'DS'

3. What about the most common genre?

In [9]:
df['Genre'].mode()[0]

'Action'

4. What are the top 20 highest grossing games?
df.sort_values(by='col1', ascending=False)

In [19]:
df.sort_values(by='Global_Sales', ascending=False).head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

5. For North American video game sales, whatâ€™s the median?
    - Provide a secondary output showing ten games surrounding the median sales output
        - assume that games with same median value are sorted in descending order

In [81]:
sorted_NA = df.sort_values(by='NA_Sales', ascending=True)
# na_median = df['NA_Sales'].median()
# print(na_median) 0.08
# median = len(sorted_NA.NA_Sales)/2

# na_median_df = df.loc[df['NA_Sales'] == na_median]

# na_median_df.shape

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [40]:
is_wii = df['Platform']=='Wii' #boolean value
is_not_wii = df['Platform']!='Wii' #boolean value

df_wii_df = df[is_wii] #Filterd displaying all Wii platforms
# df_wii_df.head(10)

df_others_df = df[is_not_wii] #Filtered displaying all other platforms
# df_others_df.head(10)

wii_average_sales = df_wii_df['Global_Sales'].mean() # Average/Mean Global Sales WII
# print(wii_average_sales)

platform_list = df.Platform.unique()
# print(platform_list)

8. Come up with 3 more questions that can be answered with this data set

8.1 Show all published cames after the year 2000

In [82]:
df[df['Year'] > 2000].head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02

8.2 Show All Wii Games published after 2013

In [90]:
is_wii = df['Platform']=='Wii'
df_wii_df = df[is_wii]
df_wii_df[df['Year'] > 2013].head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
698,700,Just Dance 2015,Wii,2014.0,Misc,Ubisoft,1.11,0.98,0.0,0.20,2.28
1670,1672,Just Dance 2016,Wii,2015.0,Misc,Ubisoft,0.52,0.59,0.0,0.10,1.20
1967,1969,Skylanders: Trap Team,Wii,2014.0,Action,Activision,0.42,0.54,0.0,0.08,1.05
2716,2718,FIFA 15,Wii,2014.0,Sports,Electronic Arts,0.24,0.46,0.0,0.06,0.76
6266,6268,How to Train Your Dragon 2,Wii,2014.0,Adventure,Little Orbit,0.05,0.20,0.0,0.02,0.27

8.3 Create a List of all different Platforms

In [91]:
df.Platform.unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)